:root {
  color-scheme: dark;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.accordion-button {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}

.rowOutside {
  width: 90%;
  justify-content: space-between;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.accordion {
  width: 90%;
}

.colOutside {
  padding: 0px;
}

.bodyContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown {
  margin: 5px;
}

.removeButton {
  margin-left: 5px;
}

.accordion-button::after {
  margin: 0;
}

.infoColumn {
  text-align: left;
}

.row {
  margin: 0px;
  justify-content: space-between;
  width: 90%;
}

.emptyColumn {
  width: 20px;
}

.col {
  flex: 0 0 0%;
}

.pagination {
  display: flex; /* establish flex container */
  flex-direction: row; /* align children vertically (column format) */
  justify-content: center; /* center children vertically */
  align-items: center;
  margin: 5px;
}

.ColAddDriver {
  flex: 1 0 0%;
}
.DriverSearchComponent {
  min-width: 25rem;
}

/* DARK MODE, COMMENT TO DISABLE */
/* html,
html * {
  color: #eeeeee !important;
  border-color: #555555 !important;
  background-color: #292929 !important;
}

html,
body,
html::before,
body::before {
  background-image: none !important;
}

img,
video {
  z-index: 1;
}
cite,
cite * {
  color: #029833 !important;
}
video {
  background-color: transparent !important;
}
input,
textarea {
  background-color: #333333 !important;
}
input,
select,
button {
  background-image: none !important;
}
a {
  background-color: rgba(255, 255, 255, 0.01) !important;
}

:before {
  color: #eeeeee !important;
}
:link,
:link * {
  color: #8db2e5 !important;
}
:visited,
:visited * {
  color: rgb(211, 138, 138) !important;
} */
